<!DOCTYPE html>
<html>
<head>
  <title>SeoCms</title>
  <%= stylesheet_link_tag    "seo_cms/application", :media => "all" %>
  <%= javascript_include_tag "seo_cms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
